html, body {
    background: #212121;
    color: #EDEDED;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    caret-color: #EDEDED;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    user-select: none;
    cursor: default;
}

*:focus {
	outline: 0;
}

b, th {
	font-weight: 500;
}

a {
	color: #FFCB2E;
	cursor: pointer;
	text-decoration: underline;
}

a:visited {
	color: #FFCB2E;
}

a:hover {
	color: #FFFE65;
}

#welcome {
    display: block;
    background: #FFCB2E;
    color: #1A1A1A;
    padding: 8px 4px;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 1px;
}

#start-stop-streaming {
    display: block;
    position: relative;
    margin: 64px auto;
    padding: 8px 24px;
    text-align: center;
    color: #1A1A1A;
    background: #FFCB2E;
    cursor: pointer;
    font-size: 23px;
    border: 0;
    border-radius: 3px;
}

#start-stop-streaming::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.25);
    pointer-events: none;
    opacity: 0;
    transition: 0.35s;
    z-index: 4;
    border-radius: inherit;
}

#start-stop-streaming:hover::after {
    content: '';
    display: block;
    opacity: 1;
    transition: 0.15s;
}

#start-stop-streaming.stop {
    background: #070707;
    color: #FFCB2E;
    font-weight: 600;
}

#streaminfo {

}

#waveform {
    display: block;
    width: 100%;
    height: 128px;
    margin: 16px 0px;
    background: inherit;
    border: 0;
}